.config/discord
.config/deluge
.config/dconf
.config/gtk-2.0
.config/htop
.config/pulse
.config/vlc
.config/QtProject.conf
.config/pavucontrol.ini
.config/user-dirs.dirs
.config/user-dirs.locale
zsh/.zcompdump
zsh/.zcompdump
zsh/.zhistory
zsh/.zcompdump
.config/libfm
.config/GIMP/2.10
.config/Code - OSS/Backups/929c7a7c844b42f81bfae5f933b2d439/file
.config/Code - OSS/Cache/Cache_Data
.config/Code - OSS
.config/aseprite
.config/chromium
